@import url("https://fonts.google.com/specimen/Public+Sans");
body {
  margin: 0;
  font-family: "Public Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.page-container {
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background: linear-gradient(
    0deg,
    rgba(34, 164, 195, 1) 0%,
    rgba(169, 93, 255, 1) 73%
  );
  padding: 10px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.flex {
  display: flex;
}
.flex-center {
  justify-content: center;
}
.tituloText {
  font-family: "Public Sans", sans-serif;
  color: white;
  text-align: center;
  margin-top: 0;
  padding-top: 5rem;
}
.tituloSection {
  font-family: "Public Sans", sans-serif;
  margin: 0 auto;
  width: 80%;
  font-size: 18px;
}
.tituloSection h1 {
  font-weight: bold;
}
