.DashboardContent {
  width: 100%;
  height: 100%;
  padding-bottom: 3rem;
  background-size: cover;
  background: linear-gradient(
    0deg,
    rgba(34, 164, 195, 1) 0%,
    rgba(169, 93, 255, 1) 73%
  );
}
.banner {
  width: 100%;
  height: 300px;
  background-color: #656565;
  margin-bottom: 3rem;
}
.descText {
  font-family: "Public Sans", sans-serif;
  color: white;
  text-align: center;
}
.eventos {
  width: 90%;
  margin: 0 auto;
}
