.DashboardContent {
  width: 100%;
  height: 100%;
  padding-bottom: 250px;
}
.banner {
  width: 100%;
  height: 300px;
  background-color: #656565;
  margin-bottom: 3rem;
}
.descText {
  font-family: "Public Sans", sans-serif;
  color: white;
  text-align: center;
}
.eventos {
  width: 90%;
  margin: 0 auto;
}
