.loginContent {
  font-family: "Public Sans", sans-serif;
  width: 100%;
  height: 93.3vh;
  background: linear-gradient(
    0deg,
    rgba(34, 164, 195, 1) 0%,
    rgba(169, 93, 255, 1) 73%
  );
}
.loginLeft {
  width: 40%;
  background-color: rgba(105, 192, 255, 0.47);
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  border-right: 1px solid rgba(105, 193, 255, 0.395);
}
.loginRight {
  margin: auto auto;
  width: 40%;
}
.loginRight h1 {
  color: white;
  text-align: center;
  font-size: 40px;
}
.formLogin {
  flex-direction: column;
}
.formLogin input {
  padding: 20px 30px;
  border-radius: 4px;
  border: 1px solid rgba(105, 193, 255, 0.395);
  margin-bottom: 10px;
  font-size: 20px;
  background-color: white;
}
.formLogin input:focus {
  outline: none;
}
.formLogin button {
  margin-top: 5px;
  padding: 15px 10px;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  background-color: #781f89;
  color: white;
  cursor: pointer;
}
.formDesc {
  color: white;
  text-align: center;
  font-size: 15px;
}
/* Parte Responsiva  */
@media screen and (max-width: 1130px) {
  .loginLeft {
    width: 50%;
  }
  .loginRight {
    width: 50%;
  }
  .formLogin {
    margin-inline: 30px;
  }
}
@media screen and (max-width: 890px) {
  .loginLeft {
    width: 0;
    display: none;
  }
  .loginRight {
    width: 100%;
    margin: 30% 10%;
  }
}
@media screen and (max-width: 500px) {
  .loginLeft {
    width: 0;
    display: none;
  }
  .loginRight {
    width: 100%;
    margin: 30% 0;
  }
  .loginRight h1 {
    font-size: 30px;
  }
  .formLogin input {
    font-size: 17px;
  }
}
@media only screen and (max-width: 1800px) {
  .loginContent {
    height: 92.8vh;
  }
}

.loginContent img {
  width: 450px;
  align-self: center;
}
