.historico {
  margin: 0 auto;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.595);
  margin-bottom: 3rem;
  padding: 10px;
  border-radius: 5px;
}

.linha {
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.linhaInfo {
  display: flex;
  width: 100%;
}
.secondCol,
.firstCol {
  width: 100%;
  border-left: 1px solid gray;
  padding: 10px;
}
.leftSideLinha {
  width: 79%;
  gap: 3rem;
  align-items: center;
}
.linhaImg {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  align-items: center;
  object-fit: cover;
}
.rightSideLinha {
  gap: 1rem;
  align-items: center;
  width: 20%;
  justify-content: center;
  border-left: 1px solid gray;
  height: 10rem;
}
.seeMoreBtn {
  color: rgb(13, 151, 0);
  font-size: large;
  text-align: center;
  padding: 0.7rem;
  background-color: rgba(70, 218, 24, 0.379);
  border: none;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}
.seeMoreBtn:hover {
  box-shadow: rgba(40, 40, 41, 0.321) 0px 7px 29px 0px;
}
.trashBtn {
  color: rgb(151, 0, 0);
  font-size: large;
  text-align: center;
  padding: 0.8rem;
  background-color: rgba(218, 24, 24, 0.379);
  border: none;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}
.trashBtn:hover {
  box-shadow: rgba(40, 40, 41, 0.321) 0px 7px 29px 0px;
}

@media only screen and (max-width: 900px) {
  .historico {
    width: 90%;
  }
}
@media only screen and (max-width: 650px) {
  .leftSideLinha {
    flex-direction: column;
    gap: 20px;
    padding: 5px;
    margin: 0 auto;
  }
  .rightSideLinha {
    border: none;
  }
  .secondCol,
  .firstCol {
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
    padding: 10px;
  }
}
