.MuiDataGrid-root .MuiDataGrid-cell:focus-within {
  outline: none !important;
}
.addBilhetesBtn {
  background-color: rgb(32, 53, 209);
  border: none;
  padding: 13px 15px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}
.addBilhetesBtn:hover {
  background-color: rgb(22, 39, 168);
}
.tituloAndBtn {
  align-items: center;
  justify-content: space-between;
}
.bilhetes {
  margin: 0 auto;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.595);
  margin-bottom: 3rem;
  padding-inline: 10px;
  padding-top: 10px;
  border-radius: 5px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th {
  text-align: left;
}
td {
  border-bottom: 1px solid;
  padding: 5px 0;
}

th {
  border-bottom: 1px solid;
}
.btnsEventRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
td:visited,
td:link {
  color: white;
}

.inputEvent {
  gap: 10px;
}
.modalStyle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: white;
  border-radius: 3px;
  box-shadow: 24px;
  padding: 20px;
}
.tituloInputEvent {
  justify-content: space-between;
}
a:link {
  text-decoration: none;
}

.eventosBackground {
  background-color: rgba(255, 255, 255, 0.804);
  width: 90%;
  margin: 0 auto;
  border-radius: 3px;
  padding: 15px 20px;
}
.btnLink:link,
.btnLink:visited {
  color: rgb(255, 255, 255);
}

@media only screen and (max-width: 900px) {
  .tabela {
    width: 90%;
  }
  .modalStyle {
    width: 85%;
  }
}
