.MuiDataGrid-root .MuiDataGrid-cell:focus-within {
  outline: none !important;
}
.addBilhetesBtn {
  background-color: rgb(32, 53, 209);
  border: none;
  padding: 13px 15px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}
.addBilhetesBtn:hover {
  background-color: rgb(22, 39, 168);
}
.tituloAndBtn {
  align-items: center;
  justify-content: space-between;
}
.bilhetes {
  margin: 0 auto;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.595);
  margin-bottom: 3rem;
  padding-inline: 10px;
  padding-top: 10px;
  border-radius: 5px;
}
.tabela {
  width: 80%;
  margin: 0 auto;
  height: 630px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.595);
  border-radius: 8px;
  padding: 10px;
}
table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}
thead tr {
  border-radius: 5px;
}
thead th {
  background-color: rgba(136, 136, 136, 0.595);
}
th {
  padding: 20px;
  text-align: left;
  text-transform: uppercase;
}
tbody tr {
  cursor: pointer;
}
tbody tr:hover {
  background-color: rgba(174, 174, 174, 0.595);
}
td {
  padding: 20px;
  border-bottom: 1px solid black;
}
th,
td {
  border-bottom: 1px solid rgba(142, 142, 142, 0.66);
}
th input,
td input {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
td:first-child {
  text-align: center;
  width: 1rem;
}
td:nth-child(2) {
  font-weight: bold;
  text-transform: capitalize;
}
td:nth-child(4) {
  max-width: 75px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}
td:nth-child(5) {
  text-align: center;
}
td:last-child {
  width: 1rem;
  text-align: center;
}
.inputEvent {
  gap: 10px;
}
.modalStyle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: white;
  border-radius: 3px;
  box-shadow: 24px;
  padding: 20px;
}
.tituloInputEvent {
  justify-content: space-between;
}
a:link {
  text-decoration: none;
}
@media only screen and (max-width: 900px) {
  .tabela {
    width: 90%;
  }
  .modalStyle {
    width: 85%;
  }
}
