.menu {
  background-color: rgba(249, 250, 251, 0.353);
  min-height: 64px;
  align-items: center;
  padding: 1rem 3rem;

  justify-content: space-between;
}
a:visited,
a:link {
  color: rgb(205, 0, 212);
}
.linkUserMenu {
  text-decoration: none;
  color: black;
}
.linkUserMenu:visited {
  color: initial;
}
